header {
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #220061c2;
}
.profileHeader {
  background-image: linear-gradient(#220061c2, #f4f1ec);
  
}