header {
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileHeader {
  background-image: linear-gradient(#4056A1, #f4f1ec);
  
}