nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF
}
.title, .initiator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
