form {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h2 {
  display: flex;
  justify-content: center;  
}

#tweet-text {
  border-width: 0 0 thick 0;
  border-color: #4057a16b;
  box-sizing: content-box;  
  background-color: transparent;
  outline: none;
  color: #4056A1;
}

.red {
  color: red;
}

label {
  background-color: transparent;
  color: black;
}

button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: #FFFFFF;
}

.poster {
  display: flex;
  align-items: flex-end;
  height: 40px;
  justify-content: space-between;
}

.errMsg {
  display: none;
  align-self: center;
  flex-direction: column;
  border-color: red;
  border-style: solid;
  border-width: thick;
  padding: 0 2em;
  width: 50%;
  height: 60%;
}
